.PdfDeliciousGray.rnr-s-empty > .rnr-c
{
background:none;

}
.PdfDeliciousGray.rnr-s-empty > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.PdfDeliciousGray.rnr-s-empty > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.PdfDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style1,
.PdfDeliciousGray.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1
{
color: #404040;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1,
.PdfDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-empty > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-empty > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style2,
.PdfDeliciousGray.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2,
.PdfDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style3,
.PdfDeliciousGray.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3
{
color: #696969;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3,
.PdfDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-menu > .rnr-c
{
border: solid #ABCDE9 1px;
}
.PdfDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style1,
.PdfDeliciousGray.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #B4D2EB;color: #404061;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-menu > .rnr-c.rnr-ch
{
background-image: none; background-color: #B4D2EB;
}
.PdfDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style2,
.PdfDeliciousGray.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #4097C6;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style3,
.PdfDeliciousGray.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #60A3CF;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-menu > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.PdfDeliciousGray.rnr-s-menu > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.PdfDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1,
.PdfDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-menu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-menu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2,
.PdfDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3,
.PdfDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-hmenu > .rnr-c
{
background:none;

}
.PdfDeliciousGray.rnr-s-hmenu > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.PdfDeliciousGray.rnr-s-hmenu > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.PdfDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style1,
.PdfDeliciousGray.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1,
.PdfDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-hmenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-hmenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style2,
.PdfDeliciousGray.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2,
.PdfDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style3,
.PdfDeliciousGray.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3,
.PdfDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-undermenu > .rnr-c
{
border: solid #C0C0C0 1px;
}
.PdfDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style1,
.PdfDeliciousGray.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #EFEFEF;color: #696969;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-undermenu > .rnr-c.rnr-ch
{
background-image: none; background-color: #EFEFEF;
}
.PdfDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style2,
.PdfDeliciousGray.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style3,
.PdfDeliciousGray.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-undermenu > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.PdfDeliciousGray.rnr-s-undermenu > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.PdfDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1,
.PdfDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 7px 4px;
}
.PdfDeliciousGray.rnr-s-undermenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-undermenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2,
.PdfDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3,
.PdfDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style1,
.PdfDeliciousGray.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #EBF0F5;color: #404040;
font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-fields > .rnr-c.rnr-ch
{
background-image: none; background-color: #EBF0F5;
}
.PdfDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style2,
.PdfDeliciousGray.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #ACD1E6;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 15px; font-weight: bold; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style3,
.PdfDeliciousGray.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #EFEFEF;color: #404040;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-fields > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.PdfDeliciousGray.rnr-s-fields > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.PdfDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1,
.PdfDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 2px;
}
.PdfDeliciousGray.rnr-s-fields > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-fields > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2,
.PdfDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 9px 6px;
}
.PdfDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3,
.PdfDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-form > :not(.runner-c) > *.style1,
.PdfDeliciousGray.rnr-s-form > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #C2D2E4;color: #404061;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-form > .rnr-c.rnr-ch
{
background-image: none; background-color: #C2D2E4;
}
.PdfDeliciousGray.rnr-s-form > :not(.runner-c) > *.style2,
.PdfDeliciousGray.rnr-s-form > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-form > :not(.runner-c) > *.style3,
.PdfDeliciousGray.rnr-s-form > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #003366;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-form > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.PdfDeliciousGray.rnr-s-form > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.PdfDeliciousGray.rnr-s-form > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-form > * > :not(.rnr-b-wrapper) .style1,
.PdfDeliciousGray.rnr-s-form > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-form > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-form > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-form > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-form > * > :not(.rnr-b-wrapper) .style2,
.PdfDeliciousGray.rnr-s-form > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-form > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-form > * > :not(.rnr-b-wrapper) .style3,
.PdfDeliciousGray.rnr-s-form > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style1,
.PdfDeliciousGray.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #6699CC;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-1 > .rnr-c.rnr-ch
{
background-image: none; background-color: #6699CC;
}
.PdfDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style2,
.PdfDeliciousGray.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #0050A0;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style3,
.PdfDeliciousGray.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #4097C6;color: #D1EEEE;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-1 > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.PdfDeliciousGray.rnr-s-1 > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.PdfDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1,
.PdfDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 7px 4px;
}
.PdfDeliciousGray.rnr-s-1 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-1 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2,
.PdfDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3,
.PdfDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style1,
.PdfDeliciousGray.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #F8F8F8;color: #696969;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-2 > .rnr-c.rnr-ch
{
background-image: none; background-color: #F8F8F8;
}
.PdfDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style2,
.PdfDeliciousGray.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #3366FF;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style3,
.PdfDeliciousGray.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-2 > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.PdfDeliciousGray.rnr-s-2 > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.PdfDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1,
.PdfDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 4px;
}
.PdfDeliciousGray.rnr-s-2 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-2 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2,
.PdfDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3,
.PdfDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style1,
.PdfDeliciousGray.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #4E6373;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-3 > .rnr-c.rnr-ch
{
background-image: none; background-color: #4E6373;
}
.PdfDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style2,
.PdfDeliciousGray.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #000080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style3,
.PdfDeliciousGray.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.rnr-s-3 > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.PdfDeliciousGray.rnr-s-3 > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.PdfDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1,
.PdfDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-3 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-3 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2,
.PdfDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfDeliciousGray.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3,
.PdfDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > th:not(.rnr-cs),
.PdfDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > th:not(.rnr-cs),
.PdfDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > td:not(.rnr-cs),
.PdfDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > td:not(.rnr-cs)
{
background-color: #1382AC; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;padding: 8px 7px;
}
.PdfDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-bottomrow > td:not(.rnr-cs),
.PdfDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-bottomrow > td:not(.rnr-cs)
{
background-color: #4E6373; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;padding: 6px 7px;
}
.PdfDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td:not(.rnr-cs),
.PdfDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td:not(.rnr-cs)
{
background-color: #F7F7F7; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #404040;color: #404040;padding: 6px 7px;
}
.PdfDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs),
.PdfDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs)
{
background-color: #EDEDED; background-image: none;color: #404040;
}
.PdfDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.PdfDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.PdfDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td.rnr-selected,
.PdfDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td.rnr-selected
{
background-color: #DCDCDC; background-image: none;color: #404040;
}
.PdfDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.PdfDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.PdfDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected,
.PdfDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected
{
background-color: #C0C0C0; background-image: none;color: #404040;
}
.PdfDeliciousGray .rnr-search-highlight
{
color: #FF0000; background-color: transparent;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.main > *,
.PdfDeliciousGray .rnr-b-vmenu.tree.main > *:not(.subitem)
{
background-image:none; background-color: #ECECEC;color:#404040;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.main > * > hr,
.PdfDeliciousGray .rnr-b-vmenu.tree.main > *:not(.subitem) > hr
{
border-color:#404040;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.main > *:hover:not(.expanded):not(.menuSeparator),
.PdfDeliciousGray .rnr-b-vmenu.tree.main > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #CFCFCF;color:#404040;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.main > *.current.current.current,
.PdfDeliciousGray .rnr-b-vmenu.tree.main > *:not(.subitem).current.current.current
{
background-image:none; background-color: #DCDCDC;color:#404040;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.main > *:hover:hover:hover.expanded
{
background-image:none; background-color: #DCDCDC;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.main > * > ul li,
.PdfDeliciousGray .rnr-b-vmenu.tree.main > *.subitem
{
background-image:none; background-color: #FFFFFF;color:#404061;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.main > * > ul li > hr,
.PdfDeliciousGray .rnr-b-vmenu.tree.main > *.subitem > hr
{
border-color:#404061;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.main > * > ul li:hover:not(.expanded):not(.menuSeparator),
.PdfDeliciousGray .rnr-b-vmenu.tree.main > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #4097C6;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.main > * > ul li.current.current.current,
.PdfDeliciousGray .rnr-b-vmenu.tree.main > *.subitem.current.current.current
{
background-image:none; background-color: #FFFFFF;color:#404061;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.main > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #DCDCDC;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.tree.main > *:not(.subitem) > div
{
padding: 4px 3px; margin:1px 1px;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.main > * > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.PdfDeliciousGray .rnr-b-vmenu.tree.main > *.subitem > div
{
padding: 4px 3px; margin:1px 1px;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.main > * > ul li > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.main >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.PdfDeliciousGray .rnr-b-vmenu.simple.second > *,
.PdfDeliciousGray .rnr-b-vmenu.tree.second > *:not(.subitem)
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.second > * > hr,
.PdfDeliciousGray .rnr-b-vmenu.tree.second > *:not(.subitem) > hr
{
border-color:#000000;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.second > *:hover:not(.expanded):not(.menuSeparator),
.PdfDeliciousGray .rnr-b-vmenu.tree.second > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.second > *.current.current.current,
.PdfDeliciousGray .rnr-b-vmenu.tree.second > *:not(.subitem).current.current.current
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.second > *:hover:hover:hover.expanded
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.second > * > ul li,
.PdfDeliciousGray .rnr-b-vmenu.tree.second > *.subitem
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.second > * > ul li > hr,
.PdfDeliciousGray .rnr-b-vmenu.tree.second > *.subitem > hr
{
border-color:#000000;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.second > * > ul li:hover:not(.expanded):not(.menuSeparator),
.PdfDeliciousGray .rnr-b-vmenu.tree.second > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.second > * > ul li.current.current.current,
.PdfDeliciousGray .rnr-b-vmenu.tree.second > *.subitem.current.current.current
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.second > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-vmenu.tree.second > *:not(.subitem) > div
{
padding: 4px 3px; margin:1px 1px;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.second > * > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.PdfDeliciousGray .rnr-b-vmenu.tree.second > *.subitem > div
{
padding: 4px 3px; margin:1px 1px;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.second > * > ul li > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.PdfDeliciousGray .rnr-b-vmenu.simple.second >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.PdfDeliciousGray .rnr-b-hmenu.main > div:not(.rnr-hseparator)
{
background-image:none; background-color: #ECECEC;color:#404040;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;padding: 5px 6px;border: solid #DCDCDC 1px;
}
.PdfDeliciousGray .rnr-b-hmenu.main > div:not(.rnr-hseparator) > hr
{
border-color:#404040;
}
.PdfDeliciousGray .rnr-b-hmenu.main:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background-image:none; background-color: #CFCFCF;color:#404040;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-hmenu.main.current.current > div:not(.rnr-hseparator)
{
background-image:none; background-color: #DCDCDC;color:#404040;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-hmenu.main:hover.expanded > div:not(.rnr-hseparator)
{
background-image:none; background-color: #CFCFCF;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-hmenu.main > ul li
{
background-image:none; background-color: #FFFFFF;color:#404061;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-hmenu.main > ul li > hr
{
border-color:#404061;
}
.PdfDeliciousGray .rnr-b-hmenu.main > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #4097C6;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-hmenu.main > ul li.current.current
{
background-image:none; background-color: #FFFFFF;color:#404061;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-hmenu.main > ul li:hover.expanded
{
background-image:none; background-color: #DCDCDC;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-hmenu.main > ul li > div > div
{
padding: 4px 3px; margin:1px 1px;
}
.PdfDeliciousGray .rnr-b-hmenu.main ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.PdfDeliciousGray .rnr-b-hmenu.main.rnr-b-hmenu.rnr-b-hmenu
{
padding-bottom: 0; padding-left:0; padding-right:0; vertical-align: bottom;
}
.PdfDeliciousGray .rnr-b-hmenu.second > div:not(.rnr-hseparator)
{
background-image:none; background-color: #ECECEC;color:#404040;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;padding: 5px 6px;border: solid #DCDCDC 1px;
}
.PdfDeliciousGray .rnr-b-hmenu.second > div:not(.rnr-hseparator) > hr
{
border-color:#404040;
}
.PdfDeliciousGray .rnr-b-hmenu.second:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background-image:none; background-color: #CFCFCF;color:#404040;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-hmenu.second.current.current > div:not(.rnr-hseparator)
{
background-image:none; background-color: #DCDCDC;color:#404040;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-hmenu.second:hover.expanded > div:not(.rnr-hseparator)
{
background-image:none; background-color: #CFCFCF;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-hmenu.second > ul li
{
background-image:none; background-color: #FFFFFF;color:#404061;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-hmenu.second > ul li > hr
{
border-color:#404061;
}
.PdfDeliciousGray .rnr-b-hmenu.second > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #4097C6;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-hmenu.second > ul li.current.current
{
background-image:none; background-color: #FFFFFF;color:#404061;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-hmenu.second > ul li:hover.expanded
{
background-image:none; background-color: #DCDCDC;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfDeliciousGray .rnr-b-hmenu.second > ul li > div > div
{
padding: 4px 3px; margin:1px 1px;
}
.PdfDeliciousGray .rnr-b-hmenu.second ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.PdfDeliciousGray .rnr-b-hmenu.second.rnr-b-hmenu.rnr-b-hmenu
{
padding-bottom: 0; padding-left:0; padding-right:0; vertical-align: bottom;
}
body.PdfDeliciousGray
{

background-color:#F8F8F8;
}
.PdfDeliciousGray .rnr-list
{
color: #404040;background-color: #F7F7F7;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.PdfDeliciousGray .rnr-tab.selected
{
background-color:#005BB7;
border-top-right-radius:4px;
border-top-left-radius:4px;

}
.PdfDeliciousGray .rnr-tab
{
background-color:#EFEFEF;
border-top-right-radius:4px;
border-top-left-radius:4px;
border: solid #A9A9A9 1px; border-bottom-width:0;
}
.PdfDeliciousGray .rnr-tab.selected > a
{
color: #FFFFFF;

}
.PdfDeliciousGray .rnr-tab > a
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .yui-navset .yui-content
{
border: solid #005BB7 1px;border-top-width: 5px;
}
.PdfDeliciousGray .rnr-stepnav > a.active,
.PdfDeliciousGray .rnr-stepnav > a:hover:not(.active),
.PdfDeliciousGray .rnr-stepnav > a.active:after,
.PdfDeliciousGray .rnr-stepnav > a:hover:not(.active):after
{
background-image: none; background-color: #ECECEC;

}
.PdfDeliciousGray .rnr-stepnav > a:not(.active),
.PdfDeliciousGray .rnr-stepnav > a:not(.active):after
{
background-image: none; background-color: #C0C0C0;

}
.PdfDeliciousGray .rnr-stepnav > a:before
{
background-image: none; background: #E6E6E6;

}
.PdfDeliciousGray .rnr-stepnav > a.active,
.PdfDeliciousGray .rnr-stepnav > a:hover:not(.active)
{
color: #000000;

}
.PdfDeliciousGray .rnr-stepnav > a:not(.active)
{
color: #696969;

}
.PdfDeliciousGray .rnr-stepnav > a:before 
{
color: #000000;

}
.PdfDeliciousGray .rnr-stepnav > a,
 .rnr-pagewrapper .PdfDeliciousGray .rnr-stepnav > a,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .rnr-stepnav > a
{
font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray  .rnr-message
{
background-color: #FCFCFC;border:none;color: #404040;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray  .rnr-error.rnr-error
{
color: #A80000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray  .yui3-panel .yui3-widget-hd.yui3-widget-hd.yui3-widget-hd
{
background-color: #0050A0; background-image: none;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.PdfDeliciousGray  .yui3-widget-ft
{
background-color: #ACD1E6; background-image: none;font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.PdfDeliciousGray  .rnr-dbelemheader
{
background-color: #0050A0; background-image: none;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.PdfDeliciousGray  .rnr-dbelemfooter
{
background-color: #D8D8D8; background-image: none;font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;color: #000000;
}
.PdfDeliciousGray  .rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow
{
background-color: #FFFACD; background-image: none;color: #4C4951;
}
.PdfDeliciousGray .rnr-dashboard
{
background-color: #FFFFFF;
}
.PdfDeliciousGray .rnr-button.rnr-button,
.PdfDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.PdfDeliciousGray .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .PdfDeliciousGray .rnr-button.rnr-button,
 .rnr-pagewrapper .PdfDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .PdfDeliciousGray .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .button.button.button.rnr-button.rnr-button
{
border: solid 1px;border-radius: 4px;padding: 3px 9px 4px;background-image: none; background-color: #ECECEC;
border-color: #A9A9A9;color: #000000;
font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .rnr-button.rnr-button.img,
.PdfDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.PdfDeliciousGray .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .PdfDeliciousGray .rnr-button.rnr-button.img,
 .rnr-pagewrapper .PdfDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .PdfDeliciousGray .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .button.button.button.rnr-button.rnr-button.img
{
padding: 3px;

}
.PdfDeliciousGray .rnr-button:hover,
.PdfDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
.PdfDeliciousGray .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .PdfDeliciousGray .rnr-button:hover,
 .rnr-pagewrapper .PdfDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .PdfDeliciousGray .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .button.button.button.rnr-button:hover
{
background-image: none; background-color: #E6E6E6;
border-color: #A9A9A9;color: #000000;

}
.PdfDeliciousGray .rnr-button:active,
.PdfDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
.PdfDeliciousGray .button.button.button.rnr-button:active,
 .rnr-pagewrapper .PdfDeliciousGray .rnr-button:active,
 .rnr-pagewrapper .PdfDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .PdfDeliciousGray .button.button.button.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .button.button.button.rnr-button:active
{
background-image: none; background-color: #E6E6E6;
border-color: #A9A9A9;color: #000000;

}
.PdfDeliciousGray .rnr-button.disabled,
.PdfDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.PdfDeliciousGray .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .PdfDeliciousGray .rnr-button.disabled,
 .rnr-pagewrapper .PdfDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .PdfDeliciousGray .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .button.button.button.rnr-button.disabled
{
background-image: none; background-color: #C0C0C0;
border-color: #A9A9A9;color: #696969;

}
.PdfDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.PdfDeliciousGray .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .PdfDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .PdfDeliciousGray .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .link.link.link.rnr-button.rnr-button
{
background: none; border: none; ;
border: none;border-radius: 0px;padding: 4px 8px 4px;color: #004080;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.PdfDeliciousGray .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .PdfDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .PdfDeliciousGray .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .link.link.link.rnr-button.rnr-button.img
{
padding: 4px;

}
.PdfDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
.PdfDeliciousGray .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .PdfDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .PdfDeliciousGray .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .link.link.link.rnr-button:hover
{
color: #FE4F29;

}
.PdfDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
.PdfDeliciousGray .link.link.link.rnr-button:active,
 .rnr-pagewrapper .PdfDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .PdfDeliciousGray .link.link.link.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .link.link.link.rnr-button:active
{
color: #004080;

}
.PdfDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.PdfDeliciousGray .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .PdfDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .PdfDeliciousGray .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .link.link.link.rnr-button.disabled
{
color: #FFFF00;

}
.PdfDeliciousGray .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .PdfDeliciousGray .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .main.main.main.rnr-button.rnr-button
{
border: solid 1px;border-radius: 4px;padding: 3px 9px 4px;background-image: none; background-color: #004CCC;
border-color: #01529A;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.PdfDeliciousGray .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .PdfDeliciousGray .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .main.main.main.rnr-button.rnr-button.img
{
padding: 3px;

}
.PdfDeliciousGray .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .PdfDeliciousGray .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .main.main.main.rnr-button:hover
{
background-image: none; background-color: #0040C6;
border-color: #01529A;color: #FFFFFF;

}
.PdfDeliciousGray .main.main.main.rnr-button:active,
 .rnr-pagewrapper .PdfDeliciousGray .main.main.main.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .main.main.main.rnr-button:active
{
background-image: none; background-color: #0040C6;
border-color: #01529A;color: #FFFFFF;

}
.PdfDeliciousGray .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .PdfDeliciousGray .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PdfDeliciousGray .main.main.main.rnr-button.disabled
{
background-image: none; background-color: #C0C0C0;
border-color: #7A5367;color: #696969;

}
