.AvenueDeliciousGray.rnr-s-empty > .rnr-c
{
background:none;

}
.AvenueDeliciousGray.rnr-s-empty > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.AvenueDeliciousGray.rnr-s-empty > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.AvenueDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style1,
.AvenueDeliciousGray.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1
{
color: #404040;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1,
.AvenueDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-empty > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-empty > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style2,
.AvenueDeliciousGray.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2,
.AvenueDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style3,
.AvenueDeliciousGray.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3
{
color: #696969;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3,
.AvenueDeliciousGray.rnr-s-empty > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-menu > .rnr-c
{
border: solid #ABCDE9 1px;
}
.AvenueDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style1,
.AvenueDeliciousGray.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #B4D2EB;color: #404061;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-menu > .rnr-c.rnr-ch
{
background-image: none; background-color: #B4D2EB;
}
.AvenueDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style2,
.AvenueDeliciousGray.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2
{
background-color: #4097C6;
background: linear-gradient(0.000000turn, #5EA7CF, #4097C6);
;
color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style3,
.AvenueDeliciousGray.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #60A3CF;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-menu > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.AvenueDeliciousGray.rnr-s-menu > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.AvenueDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1,
.AvenueDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 7px 4px;
}
.AvenueDeliciousGray.rnr-s-menu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-menu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2,
.AvenueDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3,
.AvenueDeliciousGray.rnr-s-menu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-hmenu > .rnr-c
{
background:none;

}
.AvenueDeliciousGray.rnr-s-hmenu > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.AvenueDeliciousGray.rnr-s-hmenu > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.AvenueDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style1,
.AvenueDeliciousGray.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1,
.AvenueDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-hmenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-hmenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style2,
.AvenueDeliciousGray.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2,
.AvenueDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style3,
.AvenueDeliciousGray.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3,
.AvenueDeliciousGray.rnr-s-hmenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-undermenu > .rnr-c
{
border: solid #C0C0C0 1px;
}
.AvenueDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style1,
.AvenueDeliciousGray.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #EFEFEF;color: #696969;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-undermenu > .rnr-c.rnr-ch
{
background-image: none; background-color: #EFEFEF;
}
.AvenueDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style2,
.AvenueDeliciousGray.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style3,
.AvenueDeliciousGray.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-undermenu > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.AvenueDeliciousGray.rnr-s-undermenu > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.AvenueDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1,
.AvenueDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 8px 10px;
}
.AvenueDeliciousGray.rnr-s-undermenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-undermenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2,
.AvenueDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3,
.AvenueDeliciousGray.rnr-s-undermenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-fields > .rnr-c
{
border-top-right-radius: 3px;border-top-left-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;
}
.AvenueDeliciousGray.rnr-s-fields > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.AvenueDeliciousGray.rnr-s-fields > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.AvenueDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style1,
.AvenueDeliciousGray.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #EBF0F5;color: #404040;
font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-fields > .rnr-c.rnr-ch
{
background-image: none; background-color: #EBF0F5;
}
.AvenueDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style2,
.AvenueDeliciousGray.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #ACD1E6;color: #FFFFFF;
font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style3,
.AvenueDeliciousGray.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #EFEFEF;color: #404040;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-fields > .rnr-c .rnr-leftbricks
{
margin-right: 3px;
}
.AvenueDeliciousGray.rnr-s-fields > .rnr-c .rnr-rightbricks
{
margin-left: 3px;
}
.AvenueDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1,
.AvenueDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-fields > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-fields > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2,
.AvenueDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 8px 11px;
}
.AvenueDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3,
.AvenueDeliciousGray.rnr-s-fields > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-form > .rnr-c
{
border-top-right-radius: 10px;border-top-left-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;
}
.AvenueDeliciousGray.rnr-s-form > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 10px; padding-right: 5px;
border-bottom-right-radius: 10px; padding-right: 5px;

}
.AvenueDeliciousGray.rnr-s-form > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 10px; padding-left: 5px;
border-bottom-left-radius: 10px; padding-left: 5px;

}
.AvenueDeliciousGray.rnr-s-form > :not(.runner-c) > *.style1,
.AvenueDeliciousGray.rnr-s-form > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #C2D2E4;color: #404061;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-form > .rnr-c.rnr-ch
{
background-image: none; background-color: #C2D2E4;
}
.AvenueDeliciousGray.rnr-s-form > :not(.runner-c) > *.style2,
.AvenueDeliciousGray.rnr-s-form > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-form > :not(.runner-c) > *.style3,
.AvenueDeliciousGray.rnr-s-form > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #003366;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-form > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.AvenueDeliciousGray.rnr-s-form > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.AvenueDeliciousGray.rnr-s-form > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-form > * > :not(.rnr-b-wrapper) .style1,
.AvenueDeliciousGray.rnr-s-form > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-form > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-form > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-form > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-form > * > :not(.rnr-b-wrapper) .style2,
.AvenueDeliciousGray.rnr-s-form > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-form > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-form > * > :not(.rnr-b-wrapper) .style3,
.AvenueDeliciousGray.rnr-s-form > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-1 > .rnr-c
{
border-top-right-radius: 3px;border-top-left-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;
}
.AvenueDeliciousGray.rnr-s-1 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.AvenueDeliciousGray.rnr-s-1 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.AvenueDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style1,
.AvenueDeliciousGray.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #6699CC;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-1 > .rnr-c.rnr-ch
{
background-image: none; background-color: #6699CC;
}
.AvenueDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style2,
.AvenueDeliciousGray.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #0050A0;color: #FFFFFF;
font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style3,
.AvenueDeliciousGray.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #4097C6;color: #D1EEEE;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-1 > .rnr-c .rnr-leftbricks
{
margin-right: 3px;
}
.AvenueDeliciousGray.rnr-s-1 > .rnr-c .rnr-rightbricks
{
margin-left: 3px;
}
.AvenueDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1,
.AvenueDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 4px 4px;
}
.AvenueDeliciousGray.rnr-s-1 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-1 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2,
.AvenueDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 9px 10px;
}
.AvenueDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3,
.AvenueDeliciousGray.rnr-s-1 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-2 > .rnr-c
{
border-top-right-radius: 3px;border-top-left-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;
}
.AvenueDeliciousGray.rnr-s-2 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.AvenueDeliciousGray.rnr-s-2 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.AvenueDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style1,
.AvenueDeliciousGray.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1
{
background-color: #F8F8F8;
background: linear-gradient(0.000000turn, #FBFBFB, #F8F8F8);
;
color: #696969;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-2 > .rnr-c.rnr-ch
{
background-color: #F8F8F8;
background: linear-gradient(0.000000turn, #FBFBFB, #F8F8F8);
;

}
.AvenueDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style2,
.AvenueDeliciousGray.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #3366FF;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style3,
.AvenueDeliciousGray.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-2 > .rnr-c .rnr-leftbricks
{
margin-right: 3px;
}
.AvenueDeliciousGray.rnr-s-2 > .rnr-c .rnr-rightbricks
{
margin-left: 3px;
}
.AvenueDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1,
.AvenueDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 7px 4px;
}
.AvenueDeliciousGray.rnr-s-2 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-2 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2,
.AvenueDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3,
.AvenueDeliciousGray.rnr-s-2 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-3 > .rnr-c
{
border-top-right-radius: 3px;border-top-left-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;
}
.AvenueDeliciousGray.rnr-s-3 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.AvenueDeliciousGray.rnr-s-3 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.AvenueDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style1,
.AvenueDeliciousGray.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #4E6373;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-3 > .rnr-c.rnr-ch
{
background-image: none; background-color: #4E6373;
}
.AvenueDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style2,
.AvenueDeliciousGray.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #000080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style3,
.AvenueDeliciousGray.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.rnr-s-3 > .rnr-c .rnr-leftbricks
{
margin-right: 3px;
}
.AvenueDeliciousGray.rnr-s-3 > .rnr-c .rnr-rightbricks
{
margin-left: 3px;
}
.AvenueDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1,
.AvenueDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-3 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-3 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2,
.AvenueDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueDeliciousGray.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3,
.AvenueDeliciousGray.rnr-s-3 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:not(.rnr-cs)
{
border-top: solid #DCDCDC 1px;

}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:not(.rnr-cs)
{
border-bottom: solid #DCDCDC 1px;

}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > td:first-child,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > td:first-child,
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > th:first-child,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > th:first-child,
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + td,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + td,
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + th,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + th
{
border-right: solid #DCDCDC 1px;

}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-edge,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-edge
{
border-left: solid #DCDCDC 1px;

}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:first-child,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:first-child,
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:first-child,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:first-child,
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > *.rnr-cs + td,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > *.rnr-cs + td,
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > *.rnr-cs + th,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > *.rnr-cs + th
{
border-top-right-radius: 2px;
}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:first-child,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:first-child,
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > th:first-child,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > th:first-child,
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > *.rnr-cs + td,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > *.rnr-cs + td,
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > *.rnr-cs + th,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > *.rnr-cs + th
{
border-bottom-right-radius: 2px;
}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > .rnr-edge,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > .rnr-edge
{
border-top-left-radius: 2px;
}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > .rnr-edge,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > .rnr-edge
{
border-bottom-left-radius: 2px;
}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > * > .rnr-edge,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > * > .rnr-edge
{
min-width: 2px;

}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > th:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > th:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > td:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > td:not(.rnr-cs)
{
background-color: #1382AC;
background: linear-gradient(0.000000turn, #3896B9, #1382AC);
;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;padding: 5px 7px;
}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-bottomrow > td:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-bottomrow > td:not(.rnr-cs)
{
background-color: #4E6373; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td:not(.rnr-cs)
{
background-color: #F7F7F7; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #404040;color: #404040;padding: 5px 4px;
}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs)
{
background-color: #EDEDED; background-image: none;color: #404040;
}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td.rnr-selected,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td.rnr-selected
{
background-color: #DCDCDC; background-image: none;color: #404040;
}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected,
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected
{
background-color: #C0C0C0; background-image: none;color: #404040;
}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > thead > tr:last-child > th:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > thead > tr:last-child > th:not(.rnr-cs)
{
border-bottom: solid #DCDCDC 1px;

}
.AvenueDeliciousGray.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs),
.AvenueDeliciousGray.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs)
{
border-top: solid #DCDCDC 1px;

}
.AvenueDeliciousGray .rnr-search-highlight
{
color: #FF0000; background-color: transparent;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.main > *,
.AvenueDeliciousGray .rnr-b-vmenu.tree.main > *:not(.subitem)
{
background-image:none; background-color: #ECECEC;color:#404040;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.main > * > hr,
.AvenueDeliciousGray .rnr-b-vmenu.tree.main > *:not(.subitem) > hr
{
border-color:#404040;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.main > *:hover:not(.expanded):not(.menuSeparator),
.AvenueDeliciousGray .rnr-b-vmenu.tree.main > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #CFCFCF;color:#404040;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.main > *.current.current.current,
.AvenueDeliciousGray .rnr-b-vmenu.tree.main > *:not(.subitem).current.current.current
{
background-image:none; background-color: #DCDCDC;color:#404040;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.main > *:hover:hover:hover.expanded
{
background-image:none; background-color: #DCDCDC;color:#000000;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.main > * > ul li,
.AvenueDeliciousGray .rnr-b-vmenu.tree.main > *.subitem
{
background-image:none; background-color: #FFFFFF;color:#404061;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.main > * > ul li > hr,
.AvenueDeliciousGray .rnr-b-vmenu.tree.main > *.subitem > hr
{
border-color:#404061;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.main > * > ul li:hover:not(.expanded):not(.menuSeparator),
.AvenueDeliciousGray .rnr-b-vmenu.tree.main > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #4097C6;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.main > * > ul li.current.current.current,
.AvenueDeliciousGray .rnr-b-vmenu.tree.main > *.subitem.current.current.current
{
background-image:none; background-color: #FFFFFF;color:#404061;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.main > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #DCDCDC;color:#000000;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.tree.main > *:not(.subitem) > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.main > * > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueDeliciousGray .rnr-b-vmenu.tree.main > *.subitem > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.main > * > ul li > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.main >  * ul
{
border: solid #C0C0C0 1px;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.main >  * ul > li:not(:first-child)
{
border-top: solid #C0C0C0 1px;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.main > *:not(:first-child),
.AvenueDeliciousGray .rnr-b-vmenu.tree.main > *:not(.subitem):not(:first-child)
{
border-top:solid #000000 1px;
}
.AvenueDeliciousGray .rnr-b-vmenu.tree.main > *.subitem:not(:first-child)
{
border-top: solid #C0C0C0 1px;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.second > *,
.AvenueDeliciousGray .rnr-b-vmenu.tree.second > *:not(.subitem)
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.second > * > hr,
.AvenueDeliciousGray .rnr-b-vmenu.tree.second > *:not(.subitem) > hr
{
border-color:#000000;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.second > *:hover:not(.expanded):not(.menuSeparator),
.AvenueDeliciousGray .rnr-b-vmenu.tree.second > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.second > *.current.current.current,
.AvenueDeliciousGray .rnr-b-vmenu.tree.second > *:not(.subitem).current.current.current
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.second > *:hover:hover:hover.expanded
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.second > * > ul li,
.AvenueDeliciousGray .rnr-b-vmenu.tree.second > *.subitem
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.second > * > ul li > hr,
.AvenueDeliciousGray .rnr-b-vmenu.tree.second > *.subitem > hr
{
border-color:#000000;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.second > * > ul li:hover:not(.expanded):not(.menuSeparator),
.AvenueDeliciousGray .rnr-b-vmenu.tree.second > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.second > * > ul li.current.current.current,
.AvenueDeliciousGray .rnr-b-vmenu.tree.second > *.subitem.current.current.current
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.second > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #000000;color:#000000;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-vmenu.tree.second > *:not(.subitem) > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.second > * > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueDeliciousGray .rnr-b-vmenu.tree.second > *.subitem > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.second > * > ul li > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.second >  * ul
{
border: solid #000000 1px;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.second >  * ul > li:not(:first-child)
{
border-top: solid #000000 1px;
}
.AvenueDeliciousGray .rnr-b-vmenu.simple.second > *:not(:first-child),
.AvenueDeliciousGray .rnr-b-vmenu.tree.second > *:not(.subitem):not(:first-child)
{
border-top:solid #000000 1px;
}
.AvenueDeliciousGray .rnr-b-vmenu.tree.second > *.subitem:not(:first-child)
{
border-top: solid #000000 1px;
}
.AvenueDeliciousGray .rnr-b-hmenu.main > div:not(.rnr-hseparator)
{
background: transparent;color:#404040;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;padding: 20px 10px;border: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.main
{
background-image:none; background-color: #ECECEC;
}
.AvenueDeliciousGray .rnr-b-hmenu.main > div:not(.rnr-hseparator) > hr
{
border-color:#404040;
}
.AvenueDeliciousGray .rnr-b-hmenu.main:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background: transparent;color:#404040;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.main:hover:not(.expanded)
{
background-image:none; background-color: #CFCFCF;
}
.AvenueDeliciousGray .rnr-b-hmenu.main.current.current > div:not(.rnr-hseparator)
{
background: transparent;color:#404040;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.main.current.current
{
background-image:none; background-color: #DCDCDC;
}
.AvenueDeliciousGray .rnr-b-hmenu.main:hover.expanded > div:not(.rnr-hseparator)
{
background: transparent;color:#000000;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.main:hover.expanded
{
background-image:none; background-color: #CFCFCF;
}
.AvenueDeliciousGray .rnr-b-hmenu.main > ul li
{
background-image:none; background-color: #FFFFFF;color:#404061;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.main > ul li > hr
{
border-color:#404061;
}
.AvenueDeliciousGray .rnr-b-hmenu.main > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #4097C6;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.main > ul li.current.current
{
background-image:none; background-color: #FFFFFF;color:#404061;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.main > ul li:hover.expanded
{
background-image:none; background-color: #DCDCDC;color:#000000;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.main > ul li > div > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueDeliciousGray .rnr-b-hmenu.main ul
{
border: solid #C0C0C0 1px;
}
.AvenueDeliciousGray .rnr-b-hmenu.main ul > li:not(:first-child)
{
border-top: solid #C0C0C0 1px;
}
.AvenueDeliciousGray .rnr-b-hmenu.main:not(:last-child)
{
border-right: solid #DCDCDC 1px;
}
.AvenueDeliciousGray :not(.rnr-b-hmenu):not(.main) + .rnr-b-hmenu.main
{
border-left: solid #DCDCDC 1px;
}
.AvenueDeliciousGray .rnr-b-hmenu.second > div:not(.rnr-hseparator)
{
background: transparent;color:#404040;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;padding: 20px 10px;border: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.second
{
background-image:none; background-color: #ECECEC;
}
.AvenueDeliciousGray .rnr-b-hmenu.second > div:not(.rnr-hseparator) > hr
{
border-color:#404040;
}
.AvenueDeliciousGray .rnr-b-hmenu.second:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background: transparent;color:#404040;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.second:hover:not(.expanded)
{
background-image:none; background-color: #CFCFCF;
}
.AvenueDeliciousGray .rnr-b-hmenu.second.current.current > div:not(.rnr-hseparator)
{
background: transparent;color:#404040;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.second.current.current
{
background-image:none; background-color: #DCDCDC;
}
.AvenueDeliciousGray .rnr-b-hmenu.second:hover.expanded > div:not(.rnr-hseparator)
{
background: transparent;color:#000000;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.second:hover.expanded
{
background-image:none; background-color: #CFCFCF;
}
.AvenueDeliciousGray .rnr-b-hmenu.second > ul li
{
background-image:none; background-color: #FFFFFF;color:#404061;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.second > ul li > hr
{
border-color:#404061;
}
.AvenueDeliciousGray .rnr-b-hmenu.second > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #4097C6;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.second > ul li.current.current
{
background-image:none; background-color: #FFFFFF;color:#404061;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.second > ul li:hover.expanded
{
background-image:none; background-color: #DCDCDC;color:#000000;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-b-hmenu.second > ul li > div > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueDeliciousGray .rnr-b-hmenu.second ul
{
border: solid #C0C0C0 1px;
}
.AvenueDeliciousGray .rnr-b-hmenu.second ul > li:not(:first-child)
{
border-top: solid #C0C0C0 1px;
}
.AvenueDeliciousGray .rnr-b-hmenu.second:not(:last-child)
{
border-right: solid #DCDCDC 10px;
}
.AvenueDeliciousGray :not(.rnr-b-hmenu):not(.second) + .rnr-b-hmenu.second
{
border-left: solid #DCDCDC 10px;
}
body.AvenueDeliciousGray
{

background-color:#F8F8F8;
}
.AvenueDeliciousGray .rnr-list
{
color: #404040;background-color: #F7F7F7;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;border: solid #C0C0C0 1px;box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.AvenueDeliciousGray .rnr-tab.selected
{
background-color:#005BB7;
border-top-right-radius:3px;
border-top-left-radius:3px;

}
.AvenueDeliciousGray .rnr-tab
{
background-color:#EFEFEF;
border-top-right-radius:3px;
border-top-left-radius:3px;
border: solid #A9A9A9 1px; border-bottom-width:0;
}
.AvenueDeliciousGray .rnr-tab.selected > a
{
color: #FFFFFF;

}
.AvenueDeliciousGray .rnr-tab > a
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .yui-navset .yui-content
{
border: solid #005BB7 1px;border-top-width: 5px;
}
.AvenueDeliciousGray .rnr-stepnav > a.active,
.AvenueDeliciousGray .rnr-stepnav > a:hover:not(.active)
{
background-color: #ECECEC;
background: linear-gradient(0.000000turn, #EFEFEF, #ECECEC);
;
color: #000000;

}
.AvenueDeliciousGray .rnr-stepnav > a.active:after,
.AvenueDeliciousGray .rnr-stepnav > a:hover:not(.active):after
{
background-color: #ECECEC;
background: linear-gradient(0.875000turn, #EFEFEF, #ECECEC);
;

}
.AvenueDeliciousGray .rnr-stepnav > a:not(.active),
.AvenueDeliciousGray .rnr-stepnav > a:not(.active):after
{
background-image: none; background-color: #C0C0C0;

}
.AvenueDeliciousGray .rnr-stepnav > a:before
{
background-image: none; background: #E6E6E6;

}
.AvenueDeliciousGray .rnr-stepnav > a:not(.active)
{
color: #696969;

}
.AvenueDeliciousGray .rnr-stepnav > a:before 
{
color: #000000;

}
.AvenueDeliciousGray .rnr-stepnav > a,
 .rnr-pagewrapper .AvenueDeliciousGray .rnr-stepnav > a,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .rnr-stepnav > a
{
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray  .rnr-message
{
background-color: #FCFCFC;border: solid #DCDCDC 1px;color: #404040;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray  .rnr-error.rnr-error
{
color: #A80000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .yui3-panel-content.yui3-panel-content
{
border-radius: 3px;
}
.AvenueDeliciousGray  .yui3-panel .yui3-widget-hd.yui3-widget-hd.yui3-widget-hd
{
background-color: #0050A0; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.AvenueDeliciousGray  .yui3-widget-ft
{
background-color: #ACD1E6; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.AvenueDeliciousGray .rnr-dbbordered
{
border-radius: 3px;
}
.AvenueDeliciousGray  .rnr-dbelemheader
{
background-color: #0050A0; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.AvenueDeliciousGray  .rnr-dbelemfooter
{
background-color: #D8D8D8; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #000000;
}
.AvenueDeliciousGray  .rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow
{
background-color: #FFFACD; background-image: none;color: #4C4951;
}
.AvenueDeliciousGray .rnr-dashboard
{
background-color: #FFFFFF;
}
.AvenueDeliciousGray .rnr-button.rnr-button,
.AvenueDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.AvenueDeliciousGray .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueDeliciousGray .rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueDeliciousGray .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .button.button.button.rnr-button.rnr-button
{
border: solid 1px;border-radius: 3px;padding: 3px 10px 4px;background-color: #ECECEC;
background: linear-gradient(0.000000turn, #EFEFEF, #ECECEC);
;
border-color: #A9A9A9;color: #000000;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .rnr-button.rnr-button.img,
.AvenueDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.AvenueDeliciousGray .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueDeliciousGray .rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueDeliciousGray .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .button.button.button.rnr-button.rnr-button.img
{
padding: 3px;

}
.AvenueDeliciousGray .rnr-button:hover,
.AvenueDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
.AvenueDeliciousGray .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .AvenueDeliciousGray .rnr-button:hover,
 .rnr-pagewrapper .AvenueDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .AvenueDeliciousGray .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .button.button.button.rnr-button:hover
{
background-color: #E6E6E6;
background: linear-gradient(0.000000turn, #EAEAEA, #E6E6E6);
;
border-color: #A9A9A9;color: #000000;

}
.AvenueDeliciousGray .rnr-button:active,
.AvenueDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
.AvenueDeliciousGray .button.button.button.rnr-button:active,
 .rnr-pagewrapper .AvenueDeliciousGray .rnr-button:active,
 .rnr-pagewrapper .AvenueDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .AvenueDeliciousGray .button.button.button.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .button.button.button.rnr-button:active
{
background-color: #E6E6E6;
background: linear-gradient(0.000000turn, #EAEAEA, #E6E6E6);
;
border-color: #A9A9A9;color: #000000;

}
.AvenueDeliciousGray .rnr-button.disabled,
.AvenueDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.AvenueDeliciousGray .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .AvenueDeliciousGray .rnr-button.disabled,
 .rnr-pagewrapper .AvenueDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .AvenueDeliciousGray .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .button.button.button.rnr-button.disabled
{
background-color: #C0C0C0;
background: linear-gradient(0.000000turn, #CBCBCB, #C0C0C0);
;
border-color: #A9A9A9;color: #696969;

}
.AvenueDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.AvenueDeliciousGray .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueDeliciousGray .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .link.link.link.rnr-button.rnr-button
{
background: none; border: none; ;
border: none;border-radius: 0px;padding: 4px 8px 4px;color: #004080;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.AvenueDeliciousGray .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueDeliciousGray .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .link.link.link.rnr-button.rnr-button.img
{
padding: 4px;

}
.AvenueDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
.AvenueDeliciousGray .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .AvenueDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .AvenueDeliciousGray .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .link.link.link.rnr-button:hover
{
color: #FE4F29;

}
.AvenueDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
.AvenueDeliciousGray .link.link.link.rnr-button:active,
 .rnr-pagewrapper .AvenueDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .AvenueDeliciousGray .link.link.link.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .link.link.link.rnr-button:active
{
color: #004080;

}
.AvenueDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.AvenueDeliciousGray .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .AvenueDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .AvenueDeliciousGray .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .link.link.link.rnr-button.disabled
{
color: #FFFF00;

}
.AvenueDeliciousGray .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueDeliciousGray .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .main.main.main.rnr-button.rnr-button
{
border: solid 2px;border-radius: 3px;padding: 3px 10px 4px;background-color: #004CCC;
background: linear-gradient(0.000000turn, #2D6CD5, #004CCC);
;
border-color: #01529A;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.AvenueDeliciousGray .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueDeliciousGray .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .main.main.main.rnr-button.rnr-button.img
{
padding: 3px;

}
.AvenueDeliciousGray .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .AvenueDeliciousGray .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .main.main.main.rnr-button:hover
{
background-color: #0040C6;
background: linear-gradient(0.000000turn, #2D62D0, #0040C6);
;
border-color: #01529A;color: #FFFFFF;

}
.AvenueDeliciousGray .main.main.main.rnr-button:active,
 .rnr-pagewrapper .AvenueDeliciousGray .main.main.main.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .main.main.main.rnr-button:active
{
background-color: #0040C6;
background: linear-gradient(0.000000turn, #2D62D0, #0040C6);
;
border-color: #01529A;color: #FFFFFF;

}
.AvenueDeliciousGray .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .AvenueDeliciousGray .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueDeliciousGray .main.main.main.rnr-button.disabled
{
background-color: #C0C0C0;
background: linear-gradient(0.000000turn, #CBCBCB, #C0C0C0);
;
border-color: #7A5367;color: #696969;

}
.rnr-left, .rnr-center{
    background-color:#ffffff;
}