<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN editheader}
	<h2 {$editheader_hiddenattr} data-pageid="{$pageid}" data-brick="editheader" >{$pagetitlelabel finca edit}</h2>

{END editheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$editfields_hiddenattr} data-pageid="{$pageid}" data-brick="editfields" class="form-horizontal" role="form">



			{BEGIN PROPIETARIO_CEDULA_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PROPIETARIO_CEDULA}" data-fieldname="PROPIETARIO_CEDULA" data-signal-error-for="PROPIETARIO_CEDULA{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PROPIETARIO_CEDULA}">
		{BEGIN PROPIETARIO_CEDULA_label}{$label finca PROPIETARIO_CEDULA}{END PROPIETARIO_CEDULA_label}
	</label>
	<div class="col-md-6" >
		{$PROPIETARIO_CEDULA_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PROPIETARIO_CEDULA">
		<div class="text-muted" >
		{$tooltip finca PROPIETARIO_CEDULA}
		</div>
	</div>
</div>
</div>
{END PROPIETARIO_CEDULA_fieldblock}

			{BEGIN NOMBRE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_NOMBRE}" data-fieldname="NOMBRE" data-signal-error-for="NOMBRE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_NOMBRE}">
		{BEGIN NOMBRE_label}{$label finca NOMBRE}{END NOMBRE_label}
	</label>
	<div class="col-md-6" >
		{$NOMBRE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="NOMBRE">
		<div class="text-muted" >
		{$tooltip finca NOMBRE}
		</div>
	</div>
</div>
</div>
{END NOMBRE_fieldblock}

			{BEGIN VEREDA_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_VEREDA}" data-fieldname="VEREDA" data-signal-error-for="VEREDA{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_VEREDA}">
		{BEGIN VEREDA_label}{$label finca VEREDA}{END VEREDA_label}
	</label>
	<div class="col-md-6" >
		{$VEREDA_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="VEREDA">
		<div class="text-muted" >
		{$tooltip finca VEREDA}
		</div>
	</div>
</div>
</div>
{END VEREDA_fieldblock}

			{BEGIN FINCA_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_FINCA}" data-fieldname="FINCA" data-signal-error-for="FINCA{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_FINCA}">
		{BEGIN FINCA_label}{$label finca FINCA}{END FINCA_label}
	</label>
	<div class="col-md-6" >
		{$FINCA_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="FINCA">
		<div class="text-muted" >
		{$tooltip finca FINCA}
		</div>
	</div>
</div>
</div>
{END FINCA_fieldblock}

			{BEGIN ALTURA_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ALTURA}" data-fieldname="ALTURA" data-signal-error-for="ALTURA{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ALTURA}">
		{BEGIN ALTURA_label}{$label finca ALTURA}{END ALTURA_label}
	</label>
	<div class="col-md-6" >
		{$ALTURA_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ALTURA">
		<div class="text-muted" >
		{$tooltip finca ALTURA}
		</div>
	</div>
</div>
</div>
{END ALTURA_fieldblock}

			{BEGIN GEOREFERENCIA_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_GEOREFERENCIA}" data-fieldname="GEOREFERENCIA" data-signal-error-for="GEOREFERENCIA{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_GEOREFERENCIA}">
		{BEGIN GEOREFERENCIA_label}{$label finca GEOREFERENCIA}{END GEOREFERENCIA_label}
	</label>
	<div class="col-md-6" >
		{$GEOREFERENCIA_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="GEOREFERENCIA">
		<div class="text-muted" >
		{$tooltip finca GEOREFERENCIA}
		</div>
	</div>
</div>
</div>
{END GEOREFERENCIA_fieldblock}

			{BEGIN AREA_FINCA_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AREA_FINCA}" data-fieldname="AREA_FINCA" data-signal-error-for="AREA_FINCA{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AREA_FINCA}">
		{BEGIN AREA_FINCA_label}{$label finca AREA_FINCA}{END AREA_FINCA_label}
	</label>
	<div class="col-md-6" >
		{$AREA_FINCA_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AREA_FINCA">
		<div class="text-muted" >
		{$tooltip finca AREA_FINCA}
		</div>
	</div>
</div>
</div>
{END AREA_FINCA_fieldblock}

			{BEGIN LINEA_PRINCIPAL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LINEA_PRINCIPAL}" data-fieldname="LINEA_PRINCIPAL" data-signal-error-for="LINEA_PRINCIPAL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LINEA_PRINCIPAL}">
		{BEGIN LINEA_PRINCIPAL_label}{$label finca LINEA_PRINCIPAL}{END LINEA_PRINCIPAL_label}
	</label>
	<div class="col-md-6" >
		{$LINEA_PRINCIPAL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LINEA_PRINCIPAL">
		<div class="text-muted" >
		{$tooltip finca LINEA_PRINCIPAL}
		</div>
	</div>
</div>
</div>
{END LINEA_PRINCIPAL_fieldblock}

			{BEGIN AREA__L_P_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AREA__L_P}" data-fieldname="AREA__L_P" data-signal-error-for="AREA__L_P{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AREA__L_P}">
		{BEGIN AREA__L_P_label}{$label finca AREA__L_P}{END AREA__L_P_label}
	</label>
	<div class="col-md-6" >
		{$AREA__L_P_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AREA__L_P">
		<div class="text-muted" >
		{$tooltip finca AREA__L_P}
		</div>
	</div>
</div>
</div>
{END AREA__L_P_fieldblock}

			{BEGIN A_O_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_A_O}" data-fieldname="A_O" data-signal-error-for="A_O{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_A_O}">
		{BEGIN A_O_label}{$label finca A_O}{END A_O_label}
	</label>
	<div class="col-md-6" >
		{$A_O_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="A_O">
		<div class="text-muted" >
		{$tooltip finca A_O}
		</div>
	</div>
</div>
</div>
{END A_O_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN editbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>Guardar</button>
	{END save_button}
	{BEGIN back_button}
		<button class="btn btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="btn btn-default" {$closebutton_attrs}>Cancelar</a>
	{END close_button}

{END editbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN righteditbuttons}
<div class="btn-group" role="group">

	{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default  {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
			{BEGIN reset_button}
				<li><a href="#" {$resetbutton_attrs}>Reiniciar</a></li>
			{END reset_button}
			{BEGIN view_page_button}
				<li><a href="#" {$view_page_button_attrs}>Ver</a></li>
			{END view_page_button}
		</ul>
	</div>
</div>
{END righteditbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
