<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel Grafico_legal search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN ID_fieldblock}		
	<div class="container {$fielddispclass_ID}" data-fieldname="ID">
		<div class="form-group">
			<div class="col-md-2">
				{$label Grafico_legal ID}
			</div>
			<div class="col-md-2" >
				{$searchtype_ID}
			</div>
			<div class="col-md-4" >
				{$ID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ID_editcontrol1}
			</div>
		</div>
	</div>
{END ID_fieldblock}
	{BEGIN FINCA_PROPIETARIO_CEDULA_fieldblock}		
	<div class="container {$fielddispclass_FINCA_PROPIETARIO_CEDULA}" data-fieldname="FINCA_PROPIETARIO_CEDULA">
		<div class="form-group">
			<div class="col-md-2">
				{$label Grafico_legal FINCA_PROPIETARIO_CEDULA}
			</div>
			<div class="col-md-2" >
				{$searchtype_FINCA_PROPIETARIO_CEDULA}
			</div>
			<div class="col-md-4" >
				{$FINCA_PROPIETARIO_CEDULA_editcontrol}
			</div>
			<div class="col-md-4" >
				{$FINCA_PROPIETARIO_CEDULA_editcontrol1}
			</div>
		</div>
	</div>
{END FINCA_PROPIETARIO_CEDULA_fieldblock}
	{BEGIN NOMBRE_fieldblock}		
	<div class="container {$fielddispclass_NOMBRE}" data-fieldname="NOMBRE">
		<div class="form-group">
			<div class="col-md-2">
				{$label Grafico_legal NOMBRE}
			</div>
			<div class="col-md-2" >
				{$searchtype_NOMBRE}
			</div>
			<div class="col-md-4" >
				{$NOMBRE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$NOMBRE_editcontrol1}
			</div>
		</div>
	</div>
{END NOMBRE_fieldblock}
	{BEGIN VEREDA_fieldblock}		
	<div class="container {$fielddispclass_VEREDA}" data-fieldname="VEREDA">
		<div class="form-group">
			<div class="col-md-2">
				{$label Grafico_legal VEREDA}
			</div>
			<div class="col-md-2" >
				{$searchtype_VEREDA}
			</div>
			<div class="col-md-4" >
				{$VEREDA_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VEREDA_editcontrol1}
			</div>
		</div>
	</div>
{END VEREDA_fieldblock}
	{BEGIN FINCA_fieldblock}		
	<div class="container {$fielddispclass_FINCA}" data-fieldname="FINCA">
		<div class="form-group">
			<div class="col-md-2">
				{$label Grafico_legal FINCA}
			</div>
			<div class="col-md-2" >
				{$searchtype_FINCA}
			</div>
			<div class="col-md-4" >
				{$FINCA_editcontrol}
			</div>
			<div class="col-md-4" >
				{$FINCA_editcontrol1}
			</div>
		</div>
	</div>
{END FINCA_fieldblock}
	{BEGIN TENECIA_fieldblock}		
	<div class="container {$fielddispclass_TENECIA}" data-fieldname="TENECIA">
		<div class="form-group">
			<div class="col-md-2">
				{$label Grafico_legal TENECIA}
			</div>
			<div class="col-md-2" >
				{$searchtype_TENECIA}
			</div>
			<div class="col-md-4" >
				{$TENECIA_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TENECIA_editcontrol1}
			</div>
		</div>
	</div>
{END TENECIA_fieldblock}
	{BEGIN SOPORTE_fieldblock}		
	<div class="container {$fielddispclass_SOPORTE}" data-fieldname="SOPORTE">
		<div class="form-group">
			<div class="col-md-2">
				{$label Grafico_legal SOPORTE}
			</div>
			<div class="col-md-2" >
				{$searchtype_SOPORTE}
			</div>
			<div class="col-md-4" >
				{$SOPORTE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SOPORTE_editcontrol1}
			</div>
		</div>
	</div>
{END SOPORTE_fieldblock}
	{BEGIN RUAT_fieldblock}		
	<div class="container {$fielddispclass_RUAT}" data-fieldname="RUAT">
		<div class="form-group">
			<div class="col-md-2">
				{$label Grafico_legal RUAT}
			</div>
			<div class="col-md-2" >
				{$searchtype_RUAT}
			</div>
			<div class="col-md-4" >
				{$RUAT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RUAT_editcontrol1}
			</div>
		</div>
	</div>
{END RUAT_fieldblock}
	{BEGIN ASOCIACION_fieldblock}		
	<div class="container {$fielddispclass_ASOCIACION}" data-fieldname="ASOCIACION">
		<div class="form-group">
			<div class="col-md-2">
				{$label Grafico_legal ASOCIACION}
			</div>
			<div class="col-md-2" >
				{$searchtype_ASOCIACION}
			</div>
			<div class="col-md-4" >
				{$ASOCIACION_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ASOCIACION_editcontrol1}
			</div>
		</div>
	</div>
{END ASOCIACION_fieldblock}
	{BEGIN OBSERVACIONES_fieldblock}		
	<div class="container {$fielddispclass_OBSERVACIONES}" data-fieldname="OBSERVACIONES">
		<div class="form-group">
			<div class="col-md-2">
				{$label Grafico_legal OBSERVACIONES}
			</div>
			<div class="col-md-2" >
				{$searchtype_OBSERVACIONES}
			</div>
			<div class="col-md-4" >
				{$OBSERVACIONES_editcontrol}
			</div>
			<div class="col-md-4" >
				{$OBSERVACIONES_editcontrol1}
			</div>
		</div>
	</div>
{END OBSERVACIONES_fieldblock}
	{BEGIN A_O_fieldblock}		
	<div class="container {$fielddispclass_A_O}" data-fieldname="A_O">
		<div class="form-group">
			<div class="col-md-2">
				{$label Grafico_legal A_O}
			</div>
			<div class="col-md-2" >
				{$searchtype_A_O}
			</div>
			<div class="col-md-4" >
				{$A_O_editcontrol}
			</div>
			<div class="col-md-4" >
				{$A_O_editcontrol1}
			</div>
		</div>
	</div>
{END A_O_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Buscar</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reiniciar</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Volver a la lista</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
