<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel hortifruticola_ESTADISTICA search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN VEREDA_fieldblock}		
	<div class="container {$fielddispclass_VEREDA}" data-fieldname="VEREDA">
		<div class="form-group">
			<div class="col-md-2">
				{$label hortifruticola_ESTADISTICA VEREDA}
			</div>
			<div class="col-md-2" >
				{$searchtype_VEREDA}
			</div>
			<div class="col-md-4" >
				{$VEREDA_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VEREDA_editcontrol1}
			</div>
		</div>
	</div>
{END VEREDA_fieldblock}
	{BEGIN FINCA_fieldblock}		
	<div class="container {$fielddispclass_FINCA}" data-fieldname="FINCA">
		<div class="form-group">
			<div class="col-md-2">
				{$label hortifruticola_ESTADISTICA FINCA}
			</div>
			<div class="col-md-2" >
				{$searchtype_FINCA}
			</div>
			<div class="col-md-4" >
				{$FINCA_editcontrol}
			</div>
			<div class="col-md-4" >
				{$FINCA_editcontrol1}
			</div>
		</div>
	</div>
{END FINCA_fieldblock}
	{BEGIN VARIEDAD_fieldblock}		
	<div class="container {$fielddispclass_VARIEDAD}" data-fieldname="VARIEDAD">
		<div class="form-group">
			<div class="col-md-2">
				{$label hortifruticola_ESTADISTICA VARIEDAD}
			</div>
			<div class="col-md-2" >
				{$searchtype_VARIEDAD}
			</div>
			<div class="col-md-4" >
				{$VARIEDAD_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VARIEDAD_editcontrol1}
			</div>
		</div>
	</div>
{END VARIEDAD_fieldblock}
	{BEGIN AREA_fieldblock}		
	<div class="container {$fielddispclass_AREA}" data-fieldname="AREA">
		<div class="form-group">
			<div class="col-md-2">
				{$label hortifruticola_ESTADISTICA AREA}
			</div>
			<div class="col-md-2" >
				{$searchtype_AREA}
			</div>
			<div class="col-md-4" >
				{$AREA_editcontrol}
			</div>
			<div class="col-md-4" >
				{$AREA_editcontrol1}
			</div>
		</div>
	</div>
{END AREA_fieldblock}
	{BEGIN PRODUCCION_ANUAL_fieldblock}		
	<div class="container {$fielddispclass_PRODUCCION_ANUAL}" data-fieldname="PRODUCCION_ANUAL">
		<div class="form-group">
			<div class="col-md-2">
				{$label hortifruticola_ESTADISTICA PRODUCCION_ANUAL}
			</div>
			<div class="col-md-2" >
				{$searchtype_PRODUCCION_ANUAL}
			</div>
			<div class="col-md-4" >
				{$PRODUCCION_ANUAL_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PRODUCCION_ANUAL_editcontrol1}
			</div>
		</div>
	</div>
{END PRODUCCION_ANUAL_fieldblock}
	{BEGIN A_O_fieldblock}		
	<div class="container {$fielddispclass_A_O}" data-fieldname="A_O">
		<div class="form-group">
			<div class="col-md-2">
				{$label hortifruticola_ESTADISTICA A_O}
			</div>
			<div class="col-md-2" >
				{$searchtype_A_O}
			</div>
			<div class="col-md-4" >
				{$A_O_editcontrol}
			</div>
			<div class="col-md-4" >
				{$A_O_editcontrol1}
			</div>
		</div>
	</div>
{END A_O_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Buscar</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reiniciar</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Volver a la lista</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
