<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN editheader}
	<h2 {$editheader_hiddenattr} data-pageid="{$pageid}" data-brick="editheader" >{$pagetitlelabel pecuario edit}</h2>

{END editheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$editfields_hiddenattr} data-pageid="{$pageid}" data-brick="editfields" class="form-horizontal" role="form">



			{BEGIN FINCA_PROPIETARIO_CEDULA_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_FINCA_PROPIETARIO_CEDULA}" data-fieldname="FINCA_PROPIETARIO_CEDULA" data-signal-error-for="FINCA_PROPIETARIO_CEDULA{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_FINCA_PROPIETARIO_CEDULA}">
		{BEGIN FINCA_PROPIETARIO_CEDULA_label}{$label pecuario FINCA_PROPIETARIO_CEDULA}{END FINCA_PROPIETARIO_CEDULA_label}
	</label>
	<div class="col-md-6" >
		{$FINCA_PROPIETARIO_CEDULA_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="FINCA_PROPIETARIO_CEDULA">
		<div class="text-muted" >
		{$tooltip pecuario FINCA_PROPIETARIO_CEDULA}
		</div>
	</div>
</div>
</div>
{END FINCA_PROPIETARIO_CEDULA_fieldblock}

			{BEGIN NOMBRE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_NOMBRE}" data-fieldname="NOMBRE" data-signal-error-for="NOMBRE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_NOMBRE}">
		{BEGIN NOMBRE_label}{$label pecuario NOMBRE}{END NOMBRE_label}
	</label>
	<div class="col-md-6" >
		{$NOMBRE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="NOMBRE">
		<div class="text-muted" >
		{$tooltip pecuario NOMBRE}
		</div>
	</div>
</div>
</div>
{END NOMBRE_fieldblock}

			{BEGIN VEREDA_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_VEREDA}" data-fieldname="VEREDA" data-signal-error-for="VEREDA{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_VEREDA}">
		{BEGIN VEREDA_label}{$label pecuario VEREDA}{END VEREDA_label}
	</label>
	<div class="col-md-6" >
		{$VEREDA_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="VEREDA">
		<div class="text-muted" >
		{$tooltip pecuario VEREDA}
		</div>
	</div>
</div>
</div>
{END VEREDA_fieldblock}

			{BEGIN FINCA_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_FINCA}" data-fieldname="FINCA" data-signal-error-for="FINCA{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_FINCA}">
		{BEGIN FINCA_label}{$label pecuario FINCA}{END FINCA_label}
	</label>
	<div class="col-md-6" >
		{$FINCA_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="FINCA">
		<div class="text-muted" >
		{$tooltip pecuario FINCA}
		</div>
	</div>
</div>
</div>
{END FINCA_fieldblock}

			{BEGIN RAZA_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RAZA}" data-fieldname="RAZA" data-signal-error-for="RAZA{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RAZA}">
		{BEGIN RAZA_label}{$label pecuario RAZA}{END RAZA_label}
	</label>
	<div class="col-md-6" >
		{$RAZA_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RAZA">
		<div class="text-muted" >
		{$tooltip pecuario RAZA}
		</div>
	</div>
</div>
</div>
{END RAZA_fieldblock}

			{BEGIN U_A_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_U_A}" data-fieldname="U_A" data-signal-error-for="U_A{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_U_A}">
		{BEGIN U_A_label}{$label pecuario U_A}{END U_A_label}
	</label>
	<div class="col-md-6" >
		{$U_A_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="U_A">
		<div class="text-muted" >
		{$tooltip pecuario U_A}
		</div>
	</div>
</div>
</div>
{END U_A_fieldblock}

			{BEGIN AREA_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AREA}" data-fieldname="AREA" data-signal-error-for="AREA{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AREA}">
		{BEGIN AREA_label}{$label pecuario AREA}{END AREA_label}
	</label>
	<div class="col-md-6" >
		{$AREA_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AREA">
		<div class="text-muted" >
		{$tooltip pecuario AREA}
		</div>
	</div>
</div>
</div>
{END AREA_fieldblock}

			{BEGIN PRODUCCION_ANUAL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PRODUCCION_ANUAL}" data-fieldname="PRODUCCION_ANUAL" data-signal-error-for="PRODUCCION_ANUAL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PRODUCCION_ANUAL}">
		{BEGIN PRODUCCION_ANUAL_label}{$label pecuario PRODUCCION_ANUAL}{END PRODUCCION_ANUAL_label}
	</label>
	<div class="col-md-6" >
		{$PRODUCCION_ANUAL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PRODUCCION_ANUAL">
		<div class="text-muted" >
		{$tooltip pecuario PRODUCCION_ANUAL}
		</div>
	</div>
</div>
</div>
{END PRODUCCION_ANUAL_fieldblock}

			{BEGIN A_O_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_A_O}" data-fieldname="A_O" data-signal-error-for="A_O{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_A_O}">
		{BEGIN A_O_label}{$label pecuario A_O}{END A_O_label}
	</label>
	<div class="col-md-6" >
		{$A_O_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="A_O">
		<div class="text-muted" >
		{$tooltip pecuario A_O}
		</div>
	</div>
</div>
</div>
{END A_O_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN editbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>Guardar</button>
	{END save_button}
	{BEGIN back_button}
		<button class="btn btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="btn btn-default" {$closebutton_attrs}>Cancelar</a>
	{END close_button}

{END editbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN righteditbuttons}
<div class="btn-group" role="group">

	{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default  {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
			{BEGIN reset_button}
				<li><a href="#" {$resetbutton_attrs}>Reiniciar</a></li>
			{END reset_button}
			{BEGIN view_page_button}
				<li><a href="#" {$view_page_button_attrs}>Ver</a></li>
			{END view_page_button}
		</ul>
	</div>
</div>
{END righteditbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
