<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}
{BEGIN pdflink_block}
<a href="#" class="pdflink btn btn-default" {$pdflink_attrs}>Vista PDF</a>
{END pdflink_block}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel propietario print}</h2>

{END printheader}


{BEGIN page_number}
<span>Página <span class="rp-pageno">{$pageno}</span> / <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN CEDULA_fieldheadercolumn}
			<th class="{$CEDULA_class}" {$CEDULA_style}>
				{$label propietario CEDULA}
			</th>
			{END CEDULA_fieldheadercolumn}
			{BEGIN NOMBRE_fieldheadercolumn}
			<th class="{$NOMBRE_class}" {$NOMBRE_style}>
				{$label propietario NOMBRE}
			</th>
			{END NOMBRE_fieldheadercolumn}
			{BEGIN TELEFONO_fieldheadercolumn}
			<th class="{$TELEFONO_class}" {$TELEFONO_style}>
				{$label propietario TELEFONO}
			</th>
			{END TELEFONO_fieldheadercolumn}
			{BEGIN F_NACIMIENTO_fieldheadercolumn}
			<th class="{$F_NACIMIENTO_class}" {$F_NACIMIENTO_style}>
				{$label propietario F_NACIMIENTO}
			</th>
			{END F_NACIMIENTO_fieldheadercolumn}
			{BEGIN E_CIVIL_fieldheadercolumn}
			<th class="{$E_CIVIL_class}" {$E_CIVIL_style}>
				{$label propietario E_CIVIL}
			</th>
			{END E_CIVIL_fieldheadercolumn}
			{BEGIN PARIENTE_fieldheadercolumn}
			<th class="{$PARIENTE_class}" {$PARIENTE_style}>
				{$label propietario PARIENTE}
			</th>
			{END PARIENTE_fieldheadercolumn}
			{BEGIN NOMBRE_PARIENTE_fieldheadercolumn}
			<th class="{$NOMBRE_PARIENTE_class}" {$NOMBRE_PARIENTE_style}>
				{$label propietario NOMBRE_PARIENTE}
			</th>
			{END NOMBRE_PARIENTE_fieldheadercolumn}
			{BEGIN IDENTIFICACION_fieldheadercolumn}
			<th class="{$IDENTIFICACION_class}" {$IDENTIFICACION_style}>
				{$label propietario IDENTIFICACION}
			</th>
			{END IDENTIFICACION_fieldheadercolumn}
			{BEGIN TEL_PARIENTE_fieldheadercolumn}
			<th class="{$TEL_PARIENTE_class}" {$TEL_PARIENTE_style}>
				{$label propietario TEL_PARIENTE}
			</th>
			{END TEL_PARIENTE_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN CEDULA_fieldcolumn}
			<td  class="{$CEDULA_class}" {$CEDULA_style} {$recordattrs}>
				{$CEDULA_value}
			</td>
			{END CEDULA_fieldcolumn}
			{BEGIN NOMBRE_fieldcolumn}
			<td  class="{$NOMBRE_class}" {$NOMBRE_style} {$recordattrs}>
				{$NOMBRE_value}
			</td>
			{END NOMBRE_fieldcolumn}
			{BEGIN TELEFONO_fieldcolumn}
			<td  class="{$TELEFONO_class}" {$TELEFONO_style} {$recordattrs}>
				{$TELEFONO_value}
			</td>
			{END TELEFONO_fieldcolumn}
			{BEGIN F_NACIMIENTO_fieldcolumn}
			<td  class="{$F_NACIMIENTO_class}" {$F_NACIMIENTO_style} {$recordattrs}>
				{$F_NACIMIENTO_value}
			</td>
			{END F_NACIMIENTO_fieldcolumn}
			{BEGIN E_CIVIL_fieldcolumn}
			<td  class="{$E_CIVIL_class}" {$E_CIVIL_style} {$recordattrs}>
				{$E_CIVIL_value}
			</td>
			{END E_CIVIL_fieldcolumn}
			{BEGIN PARIENTE_fieldcolumn}
			<td  class="{$PARIENTE_class}" {$PARIENTE_style} {$recordattrs}>
				{$PARIENTE_value}
			</td>
			{END PARIENTE_fieldcolumn}
			{BEGIN NOMBRE_PARIENTE_fieldcolumn}
			<td  class="{$NOMBRE_PARIENTE_class}" {$NOMBRE_PARIENTE_style} {$recordattrs}>
				{$NOMBRE_PARIENTE_value}
			</td>
			{END NOMBRE_PARIENTE_fieldcolumn}
			{BEGIN IDENTIFICACION_fieldcolumn}
			<td  class="{$IDENTIFICACION_class}" {$IDENTIFICACION_style} {$recordattrs}>
				{$IDENTIFICACION_value}
			</td>
			{END IDENTIFICACION_fieldcolumn}
			{BEGIN TEL_PARIENTE_fieldcolumn}
			<td  class="{$TEL_PARIENTE_class}" {$TEL_PARIENTE_style} {$recordattrs}>
				{$TEL_PARIENTE_value}
			</td>
			{END TEL_PARIENTE_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
	{BEGIN details_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
			{BEGIN details_record}
				<td colspan="10">
					{BEGIN details_table}
						{$details}
					{END details_table}
				</td>
				{BEGIN endrecord_block}
				<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
				{END endrecord_block}
			{END details_record}
		</tr>
	{END details_row}
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
