<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel REPORTE_VEREDA masterrprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$VEREDA_class}">{$label REPORTE_VEREDA VEREDA}</th>
			<th class="{$LINEA_PRINCIPAL_class}">{$label REPORTE_VEREDA LINEA_PRINCIPAL}</th>
			<th class="{$AREA_LINEA_class}">{$label REPORTE_VEREDA AREA_LINEA}</th>
			<th class="{$A_O_class}">{$label REPORTE_VEREDA A_O}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$VEREDA_class}">{$VEREDA_mastervalue}</td>
			<td class="{$LINEA_PRINCIPAL_class}">{$LINEA_PRINCIPAL_mastervalue}</td>
			<td class="{$AREA_LINEA_class}">{$AREA_LINEA_mastervalue}</td>
			<td class="{$A_O_class}">{$A_O_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>