<p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p><DIV {$pageattrs}>
  {BEGIN container_column}
    <DIV class="rnr-c rnr-ch rnr-c-column">
      {BEGIN masterlist_title}
        <DIV class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">
          <SPAN>
            {$pagetitlelabel REPORTE_GLOBAL masterrprint}
          </SPAN>
        </DIV>
      {END masterlist_title}
      <DIV class="rnr-hfiller">
      </DIV>
    </DIV>
  {END container_column}
  {BEGIN container_mastergrid}
    <TABLE class="table rnr-b-mastergridfields rnr-gridtable" data-brick="bsmasterprintgrid" data-pageid="{$pageid}" {$bsmasterprintgrid_hiddenattr}>
      <THEAD>
        <TR>
          <TH class="{$PROPIETARIO_CEDULA_class}">
            {$label REPORTE_GLOBAL PROPIETARIO_CEDULA}
          </TH>
          <TH class="{$NOMBRE_class}">
            {$label REPORTE_GLOBAL NOMBRE}
          </TH>
          <TH class="{$VEREDA_class}">
            {$label REPORTE_GLOBAL VEREDA}
          </TH>
          <TH class="{$FINCA_class}">
            {$label REPORTE_GLOBAL FINCA}
          </TH>
          <TH class="{$AREA_FINCA_class}">
            {$label REPORTE_GLOBAL AREA_FINCA}
          </TH>
<BR><BR>
          <TH class="{$LINEA_PRINCIPAL_class}">
            {$label REPORTE_GLOBAL LINEA_PRINCIPAL}
          </TH>
          <TH class="{$AREA__L_P_class}">
            {$label REPORTE_GLOBAL AREA__L_P}
          </TH>
          <TH class="{$A_O_class}">
            {$label REPORTE_GLOBAL A_O}
          </TH>
          <TH class="{$LINEAS_AGRARIAS_class}">
            {$label REPORTE_GLOBAL LINEAS_AGRARIAS}
          </TH>
          <TH class="{$VARIEDAD_class}">
            {$label REPORTE_GLOBAL VARIEDAD}
          </TH>
          <TH class="{$AREA_class}">
            {$label REPORTE_GLOBAL AREA}
          </TH>
          <TH class="{$PRODUCCION_ANUAL_class}">
            {$label REPORTE_GLOBAL PRODUCCION_ANUAL}
          </TH>
          <TH class="{$A_O1_class}">
            {$label REPORTE_GLOBAL A_O1}
          </TH>
          <TH class="{$VARIEDAD_AGRICOLA_class}">
            {$label REPORTE_GLOBAL VARIEDAD_AGRICOLA}
          </TH>
          <TH class="{$AREA1_class}">
            {$label REPORTE_GLOBAL AREA1}
          </TH>
          <TH class="{$PRODUCCION_ANUAL1_class}">
            {$label REPORTE_GLOBAL PRODUCCION_ANUAL1}
          </TH>
          <TH class="{$A_O2_class}">
            {$label REPORTE_GLOBAL A_O2}
          </TH>
          <TH class="{$RAZA_PECUARIO_class}">
            {$label REPORTE_GLOBAL RAZA_PECUARIO}
          </TH>
          <TH class="{$U_A_class}">
            {$label REPORTE_GLOBAL U_A}
          </TH>
          <TH class="{$AREA2_class}">
            {$label REPORTE_GLOBAL AREA2}
          </TH>
          <TH class="{$PRODUCCION_ANUAL2_class}">
            {$label REPORTE_GLOBAL PRODUCCION_ANUAL2}
          </TH>
          <TH class="{$A_O3_class}">
            {$label REPORTE_GLOBAL A_O3}
          </TH>
          <TH class="{$VARIEDAD_HORTIFRUTICOLA_class}">
            {$label REPORTE_GLOBAL VARIEDAD_HORTIFRUTICOLA}
          </TH>
          <TH class="{$AREA3_class}">
            {$label REPORTE_GLOBAL AREA3}
          </TH>
          <TH class="{$PRODUCCION_ANUAL3_class}">
            {$label REPORTE_GLOBAL PRODUCCION_ANUAL3}
          </TH>
          <TH class="{$A_O4_class}">
            {$label REPORTE_GLOBAL A_O4}
          </TH>
          <TH class="{$TENENCIA_LEGAL_class}">
            {$label REPORTE_GLOBAL TENENCIA_LEGAL}
          </TH>
          <TH class="{$SOPORTE_class}">
            {$label REPORTE_GLOBAL SOPORTE}
          </TH>
          <TH class="{$RUAT_class}">
            {$label REPORTE_GLOBAL RUAT}
          </TH>
          <TH class="{$ASOCIACION_class}">
            {$label REPORTE_GLOBAL ASOCIACION}
          </TH>
          <TH class="{$OBSERVACIONES_class}">
            {$label REPORTE_GLOBAL OBSERVACIONES}
          </TH>
          <TH class="{$A_O5_class}">
            {$label REPORTE_GLOBAL A_O5}
          </TH>
          <TH class="{$TIPO_INVERSION_class}">
            {$label REPORTE_GLOBAL TIPO_INVERSION}
          </TH>
          <TH class="{$NOMBRE_PROYECTO_class}">
            {$label REPORTE_GLOBAL NOMBRE_PROYECTO}
          </TH>
          <TH class="{$OBSERVACIONES1_class}">
            {$label REPORTE_GLOBAL OBSERVACIONES1}
          </TH>
          <TH class="{$A_O6_class}">
            {$label REPORTE_GLOBAL A_O6}
          </TH>
        </TR>
      </THEAD>
      <TBODY>
        <TR>
          <TD class="{$PROPIETARIO_CEDULA_class}">
            {$PROPIETARIO_CEDULA_mastervalue}
          </TD>
          <TD class="{$NOMBRE_class}">
            {$NOMBRE_mastervalue}
          </TD>
          <TD class="{$VEREDA_class}">
            {$VEREDA_mastervalue}
          </TD>
          <TD class="{$FINCA_class}">
            {$FINCA_mastervalue}
          </TD>
          <TD class="{$AREA_FINCA_class}">
            {$AREA_FINCA_mastervalue}
          </TD>
          <TD class="{$LINEA_PRINCIPAL_class}">
            {$LINEA_PRINCIPAL_mastervalue}
          </TD>
          <TD class="{$AREA__L_P_class}">
            {$AREA__L_P_mastervalue}
          </TD>
          <TD class="{$A_O_class}">
            {$A_O_mastervalue}
          </TD>
          <TD class="{$LINEAS_AGRARIAS_class}">
            {$LINEAS_AGRARIAS_mastervalue}
          </TD>
          <TD class="{$VARIEDAD_class}">
            {$VARIEDAD_mastervalue}
          </TD>
          <TD class="{$AREA_class}">
            {$AREA_mastervalue}
          </TD>
          <TD class="{$PRODUCCION_ANUAL_class}">
            {$PRODUCCION_ANUAL_mastervalue}
          </TD>
          <TD class="{$A_O1_class}">
            {$A_O1_mastervalue}
          </TD>
          <TD class="{$VARIEDAD_AGRICOLA_class}">
            {$VARIEDAD_AGRICOLA_mastervalue}
          </TD>
          <TD class="{$AREA1_class}">
            {$AREA1_mastervalue}
          </TD>
          <TD class="{$PRODUCCION_ANUAL1_class}">
            {$PRODUCCION_ANUAL1_mastervalue}
          </TD>
          <TD class="{$A_O2_class}">
            {$A_O2_mastervalue}
          </TD>
          <TD class="{$RAZA_PECUARIO_class}">
            {$RAZA_PECUARIO_mastervalue}
          </TD>
          <TD class="{$U_A_class}">
            {$U_A_mastervalue}
          </TD>
          <TD class="{$AREA2_class}">
            {$AREA2_mastervalue}
          </TD>
          <TD class="{$PRODUCCION_ANUAL2_class}">
            {$PRODUCCION_ANUAL2_mastervalue}
          </TD>
          <TD class="{$A_O3_class}">
            {$A_O3_mastervalue}
          </TD>
          <TD class="{$VARIEDAD_HORTIFRUTICOLA_class}">
            {$VARIEDAD_HORTIFRUTICOLA_mastervalue}
          </TD>
          <TD class="{$AREA3_class}">
            {$AREA3_mastervalue}
          </TD>
          <TD class="{$PRODUCCION_ANUAL3_class}">
            {$PRODUCCION_ANUAL3_mastervalue}
          </TD>
          <TD class="{$A_O4_class}">
            {$A_O4_mastervalue}
          </TD>
          <TD class="{$TENENCIA_LEGAL_class}">
            {$TENENCIA_LEGAL_mastervalue}
          </TD>
          <TD class="{$SOPORTE_class}">
            {$SOPORTE_mastervalue}
          </TD>
          <TD class="{$RUAT_class}">
            {$RUAT_mastervalue}
          </TD>
          <TD class="{$ASOCIACION_class}">
            {$ASOCIACION_mastervalue}
          </TD>
          <TD class="{$OBSERVACIONES_class}">
            {$OBSERVACIONES_mastervalue}
          </TD>
          <TD class="{$A_O5_class}">
            {$A_O5_mastervalue}
          </TD>
          <TD class="{$TIPO_INVERSION_class}">
            {$TIPO_INVERSION_mastervalue}
          </TD>
          <TD class="{$NOMBRE_PROYECTO_class}">
            {$NOMBRE_PROYECTO_mastervalue}
          </TD>
          <TD class="{$OBSERVACIONES1_class}">
            {$OBSERVACIONES1_mastervalue}
          </TD>
          <TD class="{$A_O6_class}">
            {$A_O6_mastervalue}
          </TD>
        </TR>
      </TBODY>
    </TABLE>
  {END container_mastergrid}
</DIV>
